//variables

@im: !important;
@primary: #0097E2;
@primary2: #34495e;
@secondry: #45B7F0;
@b: #000000;
@w: #ffffff;
@light-grey: #f3f3f3;

/*===========================================================
                    Site Wide Stuff
===========================================================*/


/*===========================================================
                    Typography
===========================================================*/

/*===========================================================
                    Header 
===========================================================*/

/*===========================================================
                    navbar 
===========================================================*/

/*===========================================================
                    Footer 
===========================================================*/